.react-calendar { 
	@apply w-80 bg-darkness-plus text-white rounded-lg border-0
}

.react-calendar__navigation button {
	@apply text-secondary mt-2 text-lg
/* color: #6f48eb; */
/* min-width: 44px;
background: none;
font-size: 16px;
margin-top: 8px; */
}	

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
 background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
 background-color: #f0f0f0;
}
abbr[title] {
 text-decoration: none;
}
.react-calendar__month-view__days__day--weekend {
	@apply text-placeholder
}

.react-calendar__tile {
	@apply rounded-lg
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
	@apply bg-graydark text-white rounded-lg

 /* background: #f8f8fa;
 color: #6f48eb;
 border-radius: 60px; */
}

.react-calendar__tile--now {
	@apply bg-darkness text-light rounded-lg

 /* background: #6f48eb33;
 border-radius: 6px;
 font-weight: bold;
 color: #6f48eb; */
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
	@apply bg-graydark text-white rounded-lg font-semibold
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
 background: #f8f8fa;
}
.react-calendar__tile--active {
	@apply bg-darkness text-light rounded-lg

 /* background: #6f48eb;
 border-radius: 6px;
 font-weight: bold;
 color: white; */
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
 @apply bg-primary text-dark
}
/*
.react-calendar--selectRange .react-calendar__tile--hover {
 background-color: #f8f8fa;
}
.react-calendar__tile--range {
 background: #f8f8fa;
 color: #6f48eb;
 border-radius: 0;
}
.react-calendar__tile--rangeStart {
 border-top-right-radius: 0;
 border-bottom-right-radius: 0;
 border-top-left-radius: 6px;
 border-bottom-left-radius: 6px;
 background: #6f48eb;
 color: white;
}
.react-calendar__tile--rangeEnd {
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
 border-top-right-radius: 6px;
 border-bottom-right-radius: 6px;
 background: #6f48eb;
 color: white;
} */